html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  font-family: $text-font;
  font-size: $paragraph-font-size;
  font-weight: 400;
  color: $text-color;
  text-align: center;
}

.preload {
  width: 100%;
  height: 100vh;
  background-color: $background-color-3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square1 {
  width: 80px;
  height: 80px;
  background-color: $background-color-2;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;

  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
}

.square2 {
  width: 70px;
  height: 70px;
  background-color: $background-color-3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.square3 {
  width: 60px;
  height: 60px;
  background-color: $background-color-2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square4 {
  width: 50px;
  height: 50px;
  background-color: $background-color-3;
}

/* Media */

@media (min-width: 320px) {
  body {
    line-height: 1.5;
  }
}

// @media (min-width: 360px) {}

// @media (min-width: 576px) {}

// @media (min-width: 768px) {}

@media (min-width: 992px) {
  body {
    line-height: 1.7;
  }
}

// @media (min-width: 1200px) {}

// @media (min-width: 1920px) {}
